@media screen and (max-width: 414px) {
  .center .view {
    min-height: 124px;
    height: 124px;
    max-height: 124px;
  }
  .center-desc {
    padding: 0 15px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 40px;
  }
  .center-apply-item {
    width: 50%;
  }
  .center-apply-item img {
    height: 100px;
  }
  .center-apply-gaps {
    display: none;
  }
  .shim {
    display: none;
  }
  .center-scheme-item {
    height: 240px;
  }
  .center-scheme-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .center-scheme-head {
    margin: 20px 0 0;
    font-size: 14px;
  }
  .center-scheme-body {
    font-size: 10px;
    margin: 0;
    line-height: 20px;
    padding: 0 15px;
  }
  /* 孕产 */
  .gestate-desc {
    padding: 0 15px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 0px;
  }
  .gestate-view img {
    width: 80%;
    height: auto;
    margin: 20px auto 40px;
  }
  .gestate-goods {
    width: 100%;
  }
  .gestate-good-item {
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .gestate-good-view {
    width: 60%;
    float: none !important;
    clear: both;
    margin: 0 auto;
    padding: 20px 0 0;
  }
  .gestate-good-view img {
    width: 100%;
  }
  /* 导航 */
  .navigate-view {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
  }
  .navigate-view img {
    width: 100%;
    height: auto;
    margin: 20px auto 40px;
  }
  .navigate-extends {
    margin-bottom: 20px;
    height: fit-content;
  }
  .navigate-platform {
    height: fit-content;
    margin-bottom: 20px;
  }
  .navigate-platform .gestate-goods {
    margin-top: 0;
  }
  .navigate-platform img {
    height: auto;
    margin: 0 auto;
  }
  .platform-view {
    padding: 0 15px;
  }
  .platform-view-item {
    width: 50%;
    height: 45px;
    margin-bottom: 10px;
  }
  .platform-view-wrap {
    height: 45px;
  }
  .platform-view-item-no {
    line-height: 45px;
    font-size: 16px;
    width: 45px;
  }
  .platform-view-item-txt {
    height: 45px;
    line-height: 45px;
    font-size: 10px;
    height: 45px;
    left: 45px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding: 0 5px;
  }
  .platform-view-gaps {
    display: none;
  }
  .platform-desc {
    margin-bottom: 10px;
  }
  .platform-shim {
    display: block;
    height: 40px;
  }
  .platform-body .gestate-good-view {
    width: 80%;
    margin-right: auto;
  }
  .gestate-good-view {
    padding-top: 0;
  }
  .waste-view {
    width: 100%;
    height: auto;
  }
  .waste-view-flow img {
    width: 100%;
    height: auto;
  }
}